{{ '<?php' }} namespace Aedart\Model\Traits\Strings;

/**
 * <h1>{{ title }} Trait</h1>
 *
 * @see \Aedart\Model\Contracts\Strings\DeletedAtAware
 *
 * @author Alin Eugen Deac <aedart@gmail.com>
 * @package Aedart\Model\Traits\Strings
 */
trait {{ traitClassName }}
{
    {{ include('snippets/partials/property-description.twig') }}
    protected ${{ coreProperty }} = null;

    /**
     * Set {{ propertyInDescription }}
     *
     * @param {{ dataType }} ${{ inputArgument }} {{ propertyDescription }}
     *
     * @return void
     */
    public function set{{ propertyName }}({{ inputType }}${{ inputArgument }})
    {
        $this->{{ coreProperty }} = {{ castType }}${{ inputArgument }};
    }

    /**
     * Get {{ propertyInDescription }}
     *
     * If no "{{ propertyInDescription }}" value has been set, this method will
     * set and return a default "{{ propertyInDescription }}" value,
     * if any such value is available
     *
     * @see getDefault{{ propertyName }}()
     *
     * @return {{ dataType }}|null "{{ propertyInDescription }}" value or null if no "{{ propertyInDescription }}" value has been set
     */
    public function get{{ propertyName }}()
    {
        if (!$this->has{{ propertyName }}() && $this->hasDefault{{ propertyName }}()) {
            $this->set{{ propertyName }}($this->getDefault{{ propertyName }}());
        }
        return $this->{{ coreProperty }};
    }

    /**
     * Get a default "{{ propertyInDescription }}" value, if any is available
     *
     * @return {{ dataType }}|null A default "{{ propertyInDescription }}" value or null if no default value is available
     */
    public function getDefault{{ propertyName }}()
    {
        return null;
    }

    /**
     * Check if "{{ propertyInDescription }}" has been set
     *
     * @return bool True if "{{ propertyInDescription }}" value has been set, false if not
     */
    public function has{{ propertyName }}()
    {
        return isset($this->{{ coreProperty }});
    }

    /**
     * Check if a default "{{ propertyInDescription }}" is available or not
     *
     * @return bool True of a default "{{ propertyInDescription }}" value is available, false if not
     */
    public function hasDefault{{ propertyName }}()
    {
        $default = $this->getDefault{{ propertyName }}();
        return isset($default);
    }
}